.social-login
    button.social-login--github
        span 
            i.fab.fa-github 
        span   Continue with Github 
    button.social-login--facebook
        span 
            i.fab.fa-facebook
        span   Continue with facebook