.videoBlock {
  width: 100%;
  video {
    margin-bottom: 3px;
    height: 90%;
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    background-color: black;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .videoBlockDown {
    font-size: 13px;
    opacity: 0.8;
    display: flex;
    & > * {
      margin-right: 3px;
    }
    .videoBlock__creator {
      color: rgb(36, 129, 235);
      font-weight: 700;
    }
  }
}
